@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

h1 {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

h2 {
    font-size: 16px;
    font-weight: normal;
    color: black;
}

body {
    font-family: "Raleway", sans-serif;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0px;
}

/* ------HEADER------ */

header{
    display: flex;
    justify-content: space-between;
}
#logo{
    padding-top: 5px;
    cursor: pointer;
}
nav{
    display: flex;
}
#nav_menu{
    display: flex;
    margin: 0px 0px 0px 0px;  
}
#nav_menu li{
    width: 140px;
    min-width: 100px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-top: solid 3px black;
}
#nav_menu a{
    text-decoration: none;
    color: black;
}

/* ------CONTENT------ */

#main_title {
    padding-top: 20px;
}

form {
    padding-top: 20px;
}

.ico_info {
    border: solid 2px cyan;
    border-radius: 30px;
    height: 30px;
    width: 30px;
}

.hebergement a {
    text-decoration: none;
    color: black;
}

.blue_rank {
    color: blue;
}

.hebergement {
    display: flex;
}

.host_list {
    flex: 60%;
    border: solid 1px #F2F2F2;
    border-radius: 20px;
    background-color: #F2F2F2;
}

.host_cards {
    flex: 30%;
    border: solid 4px white;
    border-radius: 15px;
    height: 10%;
    max-height: 10%;
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: -1px 2px 27px 0px rgba(189, 189, 189, 0.65);
    background-color: white;
}

/* HOST IMG STYLE */
#host_img_1 {
    background-image: url('img/1_xlarge/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
}

#host_img_2 {
    background-image: url('img/1_xlarge/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
}

#host_img_3 {
    background-image: url('img/1_xlarge/reisetopia-B8WIgxA_PFU-unsplash.jpg');
}

#host_img_4 {
    background-image: url('img/1_xlarge/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
}

#host_img_5 {
    background-image: url('img/1_xlarge/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
}

#host_img_6 {
    background-image: url('img/1_xlarge/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
}

.host_img_card {
    flex: 55%;
    height: 150px;
    background-size: cover;
    border-radius: 15px 15px 0px 0px;
}

#popular_img_1 {
    background-image: url('img/1_xlarge/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
    
}

#popular_img_2 {
    background-image: url('img/1_xlarge/aw-creative-VGs8z60yT2c-unsplash.jpg');
}

#popular_img_3 {
    background-image: url('img/1_xlarge/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
}

.popular_img_card {
    background-size: cover;
    border-radius: 15px 0px 0px 15px;
    height: 150px;
    flex: 35%;
}

.popular_text_title h3, .popular_text_title h4{
    margin: 0px;
}

.popular_text_title h3 {
    font-weight: bold;
}

.host_cards h3 {
    margin-left: 6px;
}

.host_cards h4 {
    margin-left: 6px;
}

.ranking {
    margin-left: 6px;
}

.host_cards img {
    width: 100%;
    height: 150px;
    flex: 55%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.most_popular {
    flex: 25%;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 25px;
}

.most_popular_header {
    display: flex;
}

.hold_most_popular_cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popular_text_card {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    flex: 45%;
    padding-left: 10px;
    padding-top: 10px;
}

.most_popular_cards {
    border: solid 3px white;
    border-radius: 15px;
    background-color: white;
    box-shadow: -1px 2px 27px 0px rgba(189, 189, 189, 0.65);
    width: 85%;
    height: 10%;
    margin-left: 20px;
    margin-top: 25px;
    max-height: 200px;
}

.popular_img {
    flex: 30%;
    width: 100%;
    height: 120px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.most_popular_flex {
    display: flex;
    flex-direction: row;
    height: 150px;
}

.hold_cards {
    display: flex;
    flex-wrap: wrap;
}

.filters_list {
    display: flex;
    flex-wrap: wrap;
}

.filters {
    display: flex;
}

/* ACTIVITY */

.activity_holds_cards {
    display: flex;
    flex-direction: row;
}

#activity_1 {
    background-color: red;
    height: 400px;
}

.activity_cards {
    flex: 25%;
}

#activity_2 {
    background-color: blue;
    height: 400px;
    display: flex;
    flex-direction: column;
}

#activity_2_1 {
    flex: 30%;
    background-color: cyan;
}

#activity_2_2 {
    flex: 30%;
    background-color: darkblue;
}

#activity_3 {
    background-color: green;
    height: 400px;
}

#activity_4 {
    background-color: purple;
    height: 400px;
}

@media screen and (max-width: 600px) {
    #sign {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    header {
        display: flex;
        flex-direction: column;
    }
    
    .hebergement {
      flex-direction: column-reverse;
    }

    .host_list {
        flex: 100%;
    }

    .most_popular {
        flex: 100%;
    }

    .host_cards {
        flex: 100%;
    }

    .filters {
        flex-direction: column;
    }

    #search_button1:after {
        content: "World";
        position: absolute;
        display: block;
        color: black;
        top: 1px;
        left: 1px;
    }
  }